@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black
}

.main {
    background-image: url(assets/Images/bgimage.jpg);
    background-position: center center;
    background-size: max(1000px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    width: 100%;
    height: 70vh;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

nav img {
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    gap: 23px;
    padding: 0 30px;
}

.hero> :first-child {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation {
    height: 7px;
    background-color: rgba(55, 54, 54, 0.682);
}

.btn {
    font-family: "Poppins", sans-serif;
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid rgb(137, 131, 131);
    border-radius: 4px;
    cursor: pointer;
}

.langbtn {
    height: 25px;
    font-weight: bolder;
    font-size: 17px;
    margin-left: 20px;
    padding: 10px 11px 28px 16px;
}

.hero-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    height: 55px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.btn-red {
    background-color: red;
    height: 55px;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sn {
    background-color: red;
    color: white;
    border: none;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    padding: 10px 0
}



.secImg {
    position: relative;
}

.secImg img {
    width: 401px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 70px;
    width: 401px;
}

.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;

}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faqbox {
    display: flex;
    background-color: rgb(41, 39, 39);
    padding: 24px;
    max-width: 70vw;
    margin: 10px auto;
    justify-content: space-between;
    cursor: pointer;
    font-size: 24px;
}

.faqbox:hover {
    background-color: rgb(70, 66, 66);
}

footer {
    max-width: 60vw;
    color: white;
    margin: auto;
    padding: 14px;
}

footer .questions {
    padding: 34px 0;
}

footer a {
    font-size: 14px;
    color: white;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1300px) {
    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :first-child {
        font-size: 32px;

    }

    .hero> :nth-child(2) {
        font-size: 18px;

    }

    .hero> :nth-child(3) {
        font-size: 18px;

    }

    .main input {
        margin-top: -15px;
        height: 45px;
    }

    .btn-red {

        height: 45px;

    }

    .hero-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    nav {
        max-width: 90vw;
    }

    .main {
        height: 79vh;
    }

    .main .box {
        height: 79vh;
    }

    footer {
        max-width: 90vw;
    }

    .footer-items {
        align-items: center;
    }

    nav img {
        width: 100px;
    }

    nav .langbtn {
        padding: 10px 3px 28px 8px;
    }
}

@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 23px;
}